.Rproj.user
.Rhistory
.RData
.Ruserdata
unemployment.csv
~$202207 Trash Wheel Collection Data.xlsx
snp.csv
recessions.csv
pols-month.csv
mci_amyloid.csv
cpi.csv
MCI_baseline.csv
202207 Trash Wheel Collection Data.xlsx
GDP.csv
